**/*.pyc
tf_files
.idea/
**/*~
gradle*
libs/
local.properties
android.iml
.gradle/
android/assets/*
*.iml
android/tfmobile/.gradle
android/tfmobile/local.properties
android/tfmobile/.idea/libraries
android/tfmobile/.idea/modules.xml
android/tfmobile/.idea/workspace.xml
android/tfmobile/.DS_Store
android/tfmobile/build
android/tfmobile/captures
android/tfmobile/.externalNativeBuild
